/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
cron_jobs.txt
domains.txt
scribe_some_urls.txt
/app/Http/Controllers/Api/*.txt
/app/Http/Controllers/Api/RefererController.php
/app/Http/Requests/StoreCategoryRequest.php
/app/Http/Requests/StoreBookRequest.php
/app/Http/Requests/UpdateBookRequest.php
/resources/js/Pages/Tst*.vue
/routes/web_dev.php
/tests/*.txt
/tests0
